
@{
    ViewData["Title"] = "تماس با ما";
}

<h1>تماس با ما</h1>
<hr />
<div class="row">
    <div class="col-md-3">
        <div class="card border-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header">راه های ارتباطی</div>
            <div class="card-body">
                <h4 class="card-title">ارتباط با ما</h4>
                <br />
                <p>
                    تلفن تماس : 09140286763
                </p>
                <p>
                    ایمیل : sadrabroo@gmail.com
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="jumbotron">
            <h1 class="display-3">به فروشگاه خوش آمدید</h1>
            <br />
            <p>
                می توانید از طریق را های ارتباطی با ما در ارتباط باشید .
            </p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">بیشتر بدانید</a>
            </p>
        </div>
    </div>
</div>